extends layout

block content
    form.ui.form(action=`/todo/${todo._id}/update` method="POST")
        .field
            lable
                h3!= `Изменить задачу на ${todo.site.name}`
            textarea(name="text")!= todo.text
        .four.fields
            .field
                .ui.calendar#cal
                    .ui.input.left.icon
                        i.calendar.icon
                        input(type="text" placeholder="Дата (если известна)" id="scheduled_date" name="scheduled_date" value=`${todo.scheduled_date ? h.moment(todo.scheduled_date).format('L') : ''}`)
        .field
            input(type="checkbox" id="priority" name="priority" value=1 checked=todo.priority ? true : false)
            lable(for="priority") Высокий приоритет
        .field
            - const groups = ['ПТО-1', 'ПТО-2', 'ПТО-6', 'ПТО-7', 'ПТО-8', 'Авария', 'MBH', 'SDH', 'ВОЛС', 'DWDM', 'TE', 'Ожидание', 'Не срочно']
            ul.ui.horizonatal.list
                each group in groups
                    span.checkbox
                        input(type="checkbox" id=group name="groups" value=group checked=todo.groups.includes(group))
                        lable(for=group)= group
        .field
            input(type="submit" value="Сохранить изменения" class="ui button green" style="float:right")
block scripts
    script(src='/dist/bundle.js')
    script(src='/dist/calendar.js')
    script.
        $(document).ready(function () {
            $('#cal').calendar({
                type: 'date',
                firstDayOfWeek: 1,
                monthFirst: false, text: {
                    days: ['В', 'По', 'В', 'Ср', 'Ч', 'Пя', 'Су'],
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    today: 'Сегодня', now: 'Сейчас', am: 'AM', pm: 'PM'
                },
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        console.log(date)
                        var day = date.getDate() + '';
                        console.log(day)
                        if (day.length < 2) {
                            day = '0' + day;
                        }
                        var month = (date.getMonth() + 1) + '';
                        console.log(month)
                        if (month.length < 2) {
                            month = '0' + month;
                        }
                        var year = date.getFullYear();
                        console.log(year)
                        return year + '/' + month + '/' + day;
                    }
                }
            });
        });