extends innerLayout

block content
    table.ui.celled.table
        thead
            tr
                th.one.wide № площадки
                th Проезд к объекту
                th На проходной
                th Проход внутри здания
                th.three.wide Адрес
                th(style="width:1px")
        tbody
            each site in sites
                tr
                    td.one.wide
                        a(href=`/site/${site.slug}`)= site.name
                    td!= site.way_info
                    td!= site.inner_info
                    td!= site.reception_info
                    td= site.location.address
                    td(style="width:1px")
                        if user && (user.level >= 30)
                            a(href=`/sites/${site._id}/edit`)
                                button.ui.icon.button
                                    i.edit.icon

