extends layout

include mixins/_todoForm
include mixins/_todo

block content

    .ui.container
        h1= site.name
        a(href=`/oftl-map/map?lat=${site.location.coordinates[1]}&lng=${site.location.coordinates[0]}`)
            img(src=h.staticMap(site.location.coordinates))
        .ui.segment
            p <strong>Адрес:</strong> #{site.location.address}
        .ui.segment
            a(href=`http://10.16.3.8/red/Sylvia/findresult.php?btsnum=${site.slug.replace('-', '')}`)
                button.right.floated.ui.icon.button.red
                    i.edit.icon
            p
                strong Проезд к объекту:
                != site.way_info
            p
                strong На проходной:
                != site.reception_info
            p
                strong Проход внутри здания:
                != site.inner_info
            p
                strong Проход к антеннам:
                != site.ams_info
        if(site.contacts[0])
            table.ui.celled.table
                thead
                    tr
                        th Тема
                        th ФИО
                        th Должность
                        th Контакты
                        th Комментарий
                tbody
                    each contact in site.contacts
                        tr
                            td!= contact.theme
                            td!= contact.name
                            td!= contact.doljnost
                            td!= contact.contacts
                            td!= contact.comment
        if(site.todos)
            .ui.big.comments(style="max-width: 100%")
                h2.ui.dividing.header Задачи
                each todo in site.todos
                    +todo(todo)
        if(user)
            +todoForm(site)
block scripts
    script(src='/dist/bundle.js')
    script(src='/dist/calendar.js')
    script.
        $(document).ready(function () {
            $('#cal').calendar({
                type: 'date',
                firstDayOfWeek: 1,
                monthFirst: false, text: {
                    days: ['В', 'По', 'В', 'Ср', 'Ч', 'Пя', 'Су'],
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    today: 'Сегодня', now: 'Сейчас', am: 'AM', pm: 'PM'
                },
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate() + '';
                        if (day.length < 2) {
                            day = '0' + day;
                        }
                        var month = (date.getMonth() + 1) + '';
                        if (month.length < 2) {
                            month = '0' + month;
                        }
                        var year = date.getFullYear();
                        return year + '/' + month + '/' + day;
                    }
                }
            });
        });