extends layout
block content
    .two.buttons
        if(currentPath.endsWith('/todo/todos') || currentPath.endsWith('/todo/todos/'))
            .ui.basic.blue.button Все
            a(href='/todo/todos/prioritized')
                .ui.basic.grey.button Приоритетные
        if(currentPath.endsWith('/todo/todos/prioritized')|| currentPath.endsWith('/todo/todos/prioritized/'))
            a(href='/todo/todos/')
                .ui.basic.grey.button Все
            .ui.red.basic.button Приоритетные
        if(!(currentPath.endsWith('/todo/todos') || currentPath.endsWith('/todo/todos/')) && !(currentPath.endsWith('/todo/todos/prioritized')|| currentPath.endsWith('/todo/todos/prioritized/')))
            a(href='/todo/todos/')
                .ui.basic.grey.button Все
            a(href='/todo/todos/prioritized')
                .ui.grey.basic.button Приоритетные
    ul
        each group in groups
            if group._id === 'ПТО'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-1'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-2'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-3'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-4'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-5'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-6'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-7'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-8'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-9'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-10'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-11'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'ПТО-12'
                .ui.labeled.button
                    a.ui.brown.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.brown.left.pointing.label
                        = group.count
            else if group._id === 'Авария'
                .ui.labeled.button
                    a.ui.red.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.red.left.pointing.label
                        = group.count
            else if group._id === 'MBH'
                .ui.labeled.button
                    a.ui.pink.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.pink.left.pointing.label
                        = group.count
            else if group._id === 'SDH'
                .ui.labeled.button
                    a.ui.orange.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.orange.left.pointing.label
                        = group.count
            else if group._id === 'DWDM'
                .ui.labeled.button
                    a.ui.orange.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.orange.left.pointing.label
                        = group.count
            else if group._id === 'ВОЛС'
                .ui.labeled.button
                    a.ui.yellow.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.yellow.left.pointing.label
                        = group.count
            else if group._id === 'TE'
                .ui.labeled.button
                    a.ui.green.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.green.left.pointing.label
                        = group.count
            else if group._id === 'Не срочно'
                .ui.labeled.button
                    a.ui.teal.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.teal.left.pointing.label
                        = group.count
            else if group._id === 'Ожидание'
                .ui.labeled.button
                    a.ui.grey.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.grey.left.pointing.label
                        = group.count
            else
                .ui.labeled.button
                    a.ui.button(href=`/todo/todos/${group._id}`)
                        = group._id
                    .ui.basic.left.pointing.label
                        = group.count



    table.ui.celled.table.tablesorter
        thead
            tr
                th.one.wide № площадки
                th.three.wide Адрес
                th Задача
                th.two.wide Группа
                th.one.wide План
                th.one.wide Автор
                th.one.wide Действие
                th(style="width:1px")
        tbody
            each todo in todos
                tr
                    td.one.wide
                        a(href=`/site/${todo.site.slug}`)= todo.site.name
                    td= todo.site.location.address
                    td
                        if todo.priority === 1
                            i.warning.sign.icon(style="color: red;")
                        =todo.text
                    td
                        each group in todo.groups
                            if group === 'ПТО-1'
                                .ui.brown.label(style="margin: 3px")
                                    = group
                            else if group === 'ПТО-2'
                                .ui.brown.label(style="margin: 3px")
                                    = group
                            else if group === 'ПТО-6'
                                .ui.brown.label(style="margin: 3px")
                                    = group
                            else if group === 'ПТО-7'
                                .ui.brown.label(style="margin: 3px")
                                    = group
                            else if group === 'ПТО-8'
                                .ui.brown.label(style="margin: 3px")
                                    = group
                            else if group === 'Авария'
                                .ui.red.label(style="margin: 3px")
                                    = group
                            else if group === 'MBH'
                                .ui.pink.label(style="margin: 3px")
                                    = group
                            else if group === 'SDH'
                                .ui.orange.label(style="margin: 3px")
                                    = group
                            else if group === 'DWDM'
                                .ui.orange.label(style="margin: 3px")
                                    = group
                            else if group === 'ВОЛС'
                                .ui.yellow.label(style="margin: 3px")
                                    = group
                            else if group === 'Не срочно'
                                .ui.teal.label(style="margin: 3px")
                                    = group
                            else if group === 'Ожидание'
                                .ui.grey.label(style="margin: 3px")
                                    = group
                            else if group === 'TE'
                                .ui.green.label(style="margin: 3px")
                                    = group
                            else
                                .ui.label(style="margin: 3px")
                                    = group
                    td.one.wide
                        if(todo.scheduled_date && todo.scheduled_date <= Date.now())
                             div(style="color:red")
                                 =h.moment(todo.scheduled_date).locale('ru').format('LL')
                        if(todo.scheduled_date && todo.scheduled_date > Date.now())
                                =h.moment(todo.scheduled_date).locale('ru').format('LL')
                    td= todo.author.name
                    td.one.wide
                        if user && (todo.author.equals(user._id) || user.level >= 20)
                            .ui.two.buttons
                                .ui.basic.green.button(onclick=`if (confirm('Задача выполнена?')) window.location.href='/todo/${todo._id}/delete?status=Выполнена&closedBy=${user._id}'`) Выполнена
                                .ui.basic.red.button(onclick=`if (confirm('Задача выполнена?')) window.location.href='/todo/${todo._id}/delete?status=Отменена&closedBy=${user._id}'`) Отменена
                    td(style="width:1px")
                        if user && (todo.author.equals(user._id) || user.level >= 20)
                            a(href=`/todo/${todo._id}/edit`)
                                button.ui.icon.button
                                    i.edit.icon
